Puppet/manifests/nodes/
Puppet/modules/atomia_windows_base/files/tools/ca.crt
Puppet/modules/atomia_windows_base/files/tools/certificates/
Puppet/modules/atomia_windows_base/files/tools/csr/
Puppet/modules/atomia_windows_base/files/tools/empty.crl
Puppet/modules/atomia_windows_base/files/tools/private/

